<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>TO-DO Manager</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body class="p-4">
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2"><%- include('header.ejs') %></div>
    </div>

    <form action="/todos" method="post" class="flex justify-center font-light">
      <div class="flex gap-2 py-4">
        <div class="text-xl col-span-1 text-align w-fit my-2 px-2 py-2 italic hover:not-italic rounded hover:bg-purple-90">
          <input type="text" name="title" class="flex items-center text-xl text-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-90" placeholder="What's next?" required/>
        </div>
        <div class="flex col-span-1 items-center text-xl text-center w-fit my-2 px-2 py-1 italic hover:not-italic rounded hover:bg-purple-90">
          <input type="date" name="dueDate" class="border border-gray-300 text-gray-900 text-base rounded w-full p-3 leading-4" />
        </div>
        <div class="flex items-center text-xl text-center px-3 w-fit col-span-1">
          <button
            type="submit"
            class="text-white bg-green-600 hover:bg-green-700 font-medium rounded text-base px-5 py-2 mr-7 mb-1"
          >
            Add
          </button>
        </div>
      </div>
    </form>

    <div class="text-xl text-align w-fit my-2 px-2 py-1 italic hover:not-italic rounded hover:bg-purple-90">
      <div class="grid grid-cols-8">
        <div class="col-start-5 col-span-2">
          <h5 style="display:inline"><id>Overdue</h5>
          <span style="text-align:right" id='count-overdue' class="bg-gray-200 text-black px-3 py-1 rounded font-medium mr-2 mb-2">1</span>
          <%- include('todos.ejs') %>
          <h5 style="display:inline">Due Today</h5>
          <span style="text-align:right" id='count-due-today' class="bg-gray-200 text-black px-3 py-1 rounded font-medium mr-2 mb-2">2</span>
          <%- include('todos.ejs') %>
          <h5 style="display:inline">Due Later</h5>
          <span style="text-align:right" id='count-due-later' class="bg-gray-200 text-black px-3 py-1 rounded font-medium mr-2 mb-2">3</span>
          <%- include('todos.ejs') %>
        </div>
      </div>
    </div>
  </body>
</html>